<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    
    <add name="conoracle"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.52.0.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TRN)));User Id=muldms;Password=muldms;"/>
    <add name="conoracle1" connectionString="Data Source={trn};User ID={muldms};Password={muldms};pooling=true;min pool size=5;Max Pool Size=60"
      providerName="Oracle.DataAccess.Client"/>
    <add name="conoracle_PullApi"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.52.0.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TRN)));User Id=muldms;Password=muldms;"/>
   
  </connectionStrings>
  <appSettings>

    
    <add key="ConStr" value="server=104.211.200.64;Database=nexadb;UID=nexa1;PWD=dR$545#h^jj; Pooling=false; timeout = 20"/>

    <add key="PullALLConfigPath" value="C:\Inetpub\wwwroot\NexaLive\bin\PullALLConfigurations.txt"/>
    
    <add key="PullTokenpath" value="C:\Inetpub\wwwroot\NexaLive\bin\APIsToken.txt"/>
    <add key="DealerDetails" value="C:\Inetpub\wwwroot\NexaLive\"/>
    <add key="DealerDetails_Mtab" value="C:\Inetpub\wwwroot\NexaLive\"/>
    
    <add key="TokenLength" value="20"/>
    
    <add key="PullAppLogPath" value="C:\Inetpub\wwwroot\NexaLive\"/>
    

    
    <add key="Usp_JobCardOpeningCustomerAndVehicleMaster" value="PKG_NJCO.SP_GET_NJCO_CUSTVEH_DTL"/>
    <add key="Usp_DIYJC_PullCustomerContact" value="PKG_DIY_JC.SP_GET_CONTACT"/>
    <add key="Usp_DIYJC_PushCustomerSMS" value="PKG_DIY_JC.SP_SEND_SMS"/>
    <add key="Usp_DIYJC_PullSADashboard" value="PKG_DIY_JC.SP_GET_EXIST_DMD"/>
    
    <add key="USP_SP_CHECK_CNG_VEH" value="PKG_JCO_1.SP_CHECK_CNG_VEH"/>
    <add key="USP_SP_CNG_TESTING_DUE" value="PKG_JCO_1.SP_CNG_TESTING_DUE"/>
    
    <add key="ServiceUrl" value="C:\Inetpub\wwwroot\NexaLive\"/>

    <add key="IsLogTrace" value="False"/>
  </appSettings>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logfile.text"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd-HH"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="1000KB"/>
      <countDirection value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level  - %logger  --&gt;   %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="YDServiesEndpointBehaviors">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="YDServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpResponseEngineBinding" closeTimeout="00:10:00" crossDomainScriptAccessEnabled="true" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00"></binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>

      <service behaviorConfiguration="YDServiceBehavior" name="NEXA.DataService.Services.NEXAService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpResponseEngineBinding"
          contract="NEXA.DataService.ServiceContract.INEXAService" behaviorConfiguration="YDServiesEndpointBehaviors"/>
      </service>
      <service behaviorConfiguration="YDServiceBehavior" name="NEXA.DataService.Services.NEXAServiceTest">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpResponseEngineBinding"
          contract="NEXA.DataService.ServiceContract.INEXAService" behaviorConfiguration="YDServiesEndpointBehaviors"/>
      </service>

    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>

    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="Content-Security-Policy" value="default-src 'self'"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Strict-Transport-Security" value="max-age=300"/>
      </customHeaders>
    </httpProtocol>

  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>